<?xml version="1.0" encoding="UTF-8" ?>

<Configuration status="WARN">
    <Properties>
        <Property name="druid.log.path" value="log" />
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{ISO8601} %p [%t] %c - %m%n"/>
        </Console>

        <RollingRandomAccessFile name="FileAppender" fileName="${sys:druid.log.path}/${sys:druid.node.type}.log" filePattern="${sys:druid.log.path}/${sys:druid.node.type}.%d{yyyyMMdd}.log">
            <PatternLayout pattern="%d{ISO8601} %p [%t] %c - %m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${sys:druid.log.path}/" maxDepth="1">
                    <IfFileName glob="*.log" />
                    <IfLastModified age="7d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
        <Root level="info">
            <AppenderRef ref="FileAppender"/>
        </Root>

        <Logger name="org.apache.druid.server.QueryResource" level="info" additivity="false">
            <Appender-ref ref="FileAppender"/>
        </Logger>
        <Logger name="org.apache.druid.server.QueryLifecycle" level="info" additivity="false">
            <Appender-ref ref="FileAppender"/>
        </Logger>

        <Logger name="org.apache.druid.server.coordinator" level="info" additivity="false">
            <Appender-ref ref="FileAppender"/>
        </Logger>

        <Logger name="org.apache.druid.segment" level="info" additivity="false">
            <Appender-ref ref="FileAppender"/>
        </Logger>

        <Logger name="org.apache.druid.initialization" level="info" additivity="false">
            <Appender-ref ref="FileAppender"/>
        </Logger>

        <Logger name="org.skife.config" level="warn" additivity="false">
            <Appender-ref ref="FileAppender"/>
        </Logger>
        <Logger name="com.sun.jersey.guice" level="warn" additivity="false">
            <Appender-ref ref="FileAppender"/>
        </Logger>
    </Loggers>
</Configuration>
